{% extends "base.html" %}

{% block javascript %}
<script>
var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
function showExecutions(jobId, jobName) {
	if ($("#collapse"+jobName).hasClass('in')) {
		return;
	}
	$.ajax({
		url: '/cronjobs/api/executions',
		type: 'GET',
		headers: {
			'X-CSRFToken': csrftoken
		},
		data: '{}',
		dataType: 'json',
		data: {'job':jobId}
	}).done(function(data) {
		$("#data"+jobName).html('');
		$(data).each(function(i, job){
			var item = '<div href="#" class="list-group-item">'
				+ job.run_time + '&nbsp;&nbsp;';
			if (job.status == 'Executed') {
				item += '<font color="green">' + job.status + '</font>&nbsp;'
					+ '<pre>' + job.retval + '</pre>';
			} else {
				if (job.status == 'Error!') {
					item += '<font color="red">' + job.status + '</font>&nbsp;';
				} else {
					item += '<font color="red">' + job.status + '</font>&nbsp;';
				}
				item += job.exception
					+ '<pre>' + job.traceback + '</pre>';
			}
			item += '</div>';
			$("#data"+jobName).append(item);
		});
	});
}
</script>
{% endblock %}

{% block content %}
<h2>Cronjobs</h2>

<div class="panel-group">
	{% for job in jobs %}
	<div class="panel panel-default">
		<a class="list-group-item" data-toggle="collapse" href="#collapse{{job.name}}" onclick="showExecutions('{{job.id}}','{{job.name}}');">
			<span class="badge">{{job.next_run_time}}</span>
			{{ job.name }}
		</a>
		<div class="panel-collapse collapse" id="collapse{{job.name}}">
			<div class="panel-body" id="data{{job.name}}">
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
