{% load static %}<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}Jenny Home{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
		<link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
		{% block stylesheet %}{% endblock %}
	</head>
	<body>
		{% csrf_token %}
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#">Jenny's Home</a>
					</div>
					<ul class="nav navbar-nav">
						<li {% if '/' == request.path %} class="active"{% endif %}><a href="/">Home</a></li>
						{% if perms.garage.check %}
						<li {% if '/garage/' in request.path %} class="active"{% endif %}><a href="/garage/">Garage</a></li>
						{% endif %}
						<li {% if '/note/' in request.path %} class="active"{% endif %}><a href="/note/">Note</a></li>
						<li {% if '/cronjobs/' in request.path %} class="active"{% endif %}><a href="/cronjobs/">CronJobs</a></li>
						{% if request.user.is_superuser %}
						<li {% if '/admin/' in request.path %} class="active"{% endif %}><a href="/admin/">Admin</a></li>
						{% endif %}
					</ul>
					{% if request.user.is_authenticated %}
						{% if request.user.social_auth.count > 0 %}
							{% for social in request.user.social_auth.all %}
								{% if social.provider == 'github' %}
								<a class="navbar-text btn btn-social btn-github" href="#" style="margin-top: 7px; margin-bottom: 7px;">
									<span class="fa fa-github"></span>
									{{ social.extra_data.login }}
								</a>
								{% else %}
								<a class="navbar-text btn btn-social btn-google" href="#" style="margin-top: 7px; margin-bottom: 7px;">
									<span class="fa fa-google"></span>
									{{ request.user.email }}
								</a>
								{% endif %}
							{% endfor %}
						{% else %}
						<a href="#" class="navbar-text">{{ request.user.username }}</a>
						{% endif %}
					<a href="/logout/?next=/" class="navbar-text">Logout</a>
					{% else %}
					<a class="navbar-text" href="/accounts/login/?next={{request.path}}">Login</a>
					{% endif %}
				</div>
			</nav>
		</div>
		<div class="container">
		{% block content %}
		{% endblock %}
		<p align="center">Copyleft @ Jenny</p>
		</div>
		<script src="//code.jquery.com/jquery-3.1.0.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
		<script src="{% static 'js/app.js' %}"></script>
		{% block javascript %}{% endblock %}
	</body>
</html>
