{% extends "base.html" %}

{% block content %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'login' %}">
	{% csrf_token %}
	<input type="hidden" name="next" value="{{ next }}" />
	<table>
		<tr>
			<td>{{ form.username.label_tag }}</td>
			<td>{{ form.username }}</td>
		</tr>
		<tr>
			<td>{{ form.password.label_tag }}</td>
			<td>{{ form.password }}</td>
		</tr>
		<tr>
			<td><input type="submit" value="Login" /></td>
			<td><a href="{% url 'password_reset' %}">lost password?</a></td>
		</tr>
	</table>
</form>
<br/>

<a class="btn btn-social btn-google" href="{% url "social:begin" "google-oauth2" %}?next={{ request.GET.next }}">
	<span class="fa fa-google"></span> Sign in with google
</a>
<a class="btn btn-social btn-github" href="{% url "social:begin" "github" %}?next={{ request.GET.next }}">
	<span class="fa fa-github"></span>
	Sign in with Github
</a>

{% endblock %}

