{% extends 'base.html' %}
{% load static %}

{% block javascript %}
<script>
var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

function setScriptItem(id, name){
	if ($("#script"+id).length) {
		$("#code"+id).html(name);
		return;
	}
	var item = '<li id="script'+id+'">'
		+ '<a href="#" onclick="return loadScript(' + id + ');">'
		+ '<div id="code'+id+'">' + name + '</div>'
		+ '</a>'
		+ '</li>';
	$("#scriptList").append(item);
}

function showScript(id, name, script) {
	$("#scriptId").attr("value", id);
	$("#scriptName").val(name);
	$("#scriptCode").val(script);
}

function newScript(){
	showScript('', '', '');
}

function listScripts(){
	$.ajax({
		url: 'api/list/',
		headers: {
			'X-CSRFToken': csrftoken
		}
	}).done(function(data){
		$(data).each(function(id,item){
			setScriptItem(item.id, item.name);
		});
	});
}

function loadScript(scriptId) {
	$("#loadingDiv").hide();
	$("#loadedDiv").hide();
	$.ajax({
		url: 'api/get/'+scriptId,
		headers: {
			'X-CSRFToken': csrftoken
		}
	}).done(function(data){
		showScript(data.id, data.name, data.code);
	});
}

function deleteScript() {
	$.ajax({
		url: 'api/delete/'+$("#scriptId").val(),
		headers: {
			'X-CSRFToken': csrftoken
		}
	}).done(function(data){
		$("#script"+data.id).remove();
		newScript();
	});
}

function saveScript() {
	$.ajax({
		url: 'api/update/',
		type: 'POST',
		headers: {
			'X-CSRFToken': csrftoken
		},
		data: {
			id: $("#scriptId").val(),
			name: $("#scriptName").val(),
			code: $("#scriptCode").val(),
		}
	}).done(function(data){
		setScriptItem(data.id, data.name);
	});
}
function showResult(code, stdout, stderr, images) {
	$("#code").html(code);
	$("#stdout").html(stdout);
	$("#stderr").html(stderr);
	$("#imageList").empty();
	$.map(images, function(value,key){
		$("#imageList").append('<img alt="' + key + '" src="data:image/jpeg;base64,' + value + '"/>');
	});
}
function executeScript() {
	$("#loadingDiv").show();
	$("#loadedDiv").hide();
	showResult('','','',{});
	$.ajax({
		url: 'api/execute/',
		type: 'POST',
		headers: {
			'X-CSRFToken': csrftoken
		},
		data: {
			script: $("#scriptCode").val()
		}
	}).done(function(data) {
		$("#loadingDiv").hide();
		$("#loadedDiv").show();
		showResult(data.code, data.stdout, data.stderr, data.images);
	});
};

$(document).ready(function(){
	$("#newButton").on('click', newScript);
	$("#saveButton").on('click', saveScript);
	$("#delButton").on('click', deleteScript);
	$("#execButton").on('click', executeScript);
	listScripts();
});
</script>

{% endblock %}

{% block content %}
<div class="row">
	<div class="sidebar col-sm-3">
		<ul id="scriptList" class="nav nav-sidebar">
		</ul>
	</div>
	<div class="main col-sm-9">
		<div class="row">
			<div class="col-sm-9">
				<input type='hidden' id="scriptId"></input>
				<div class="row">
					Name:<input type="text" id="scriptName" style="display:table-cell; width:90%;"></input>
				</div>
				<div class="row">
					Code:<textarea id="scriptCode" style="display:table-cell; width: 90%; height: 300px;"></textarea>
				</div>
			</div>
			<div class="col-sm-1">
				<input type="button" id="newButton" value="New" class="btn btn-primary" />
				<input type="button" id="saveButton" value="Save" class="btn btn-success"/>
				<input type="button" id="delButton" value="Delete" class="btn btn-danger"/>
				<input type="button" id="execButton" value="Execute" class="btn btn-success"/>
			</div>
		</div>
		<div class="row">
			<div id="loadingDiv" style="display:none">
				<img src="{% static 'img/loading.gif' %}"/>
			</div>
			<div id="loadedDiv" style="display:none">
				Code:<pre id="code"></pre>
				Stdout:<pre id="stdout"></pre>
				Stderr:<pre id="stderr" style="color:red;"></pre>
				Images:<ul id="imageList"></ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}
