{% extends 'base.html' %}
{% load static %}

{% block javascript %}
<script>
var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
function showDoor() {
	$("#doorImage").attr("src", "{% static 'img/loading.gif' %}");
	var imageUrl='api/image?time='+Math.random();
	var img = $("<img />").attr('src', imageUrl)
		.on('load', function() {
			$("#doorImage").attr("src", imageUrl);
		});
}
function toggleDoor() {
	$.ajax({
		url: '/garage/api/toggle',
		type: 'POST',
		headers: {
			'X-CSRFToken': csrftoken
		},
		dataType: 'json',
		data: '{}'
	}).done(function(data) {
		location.reload();
	});
}
</script>
{% endblock %}

{% block content %}
<table>
	<tr><td>

<h2> Garage State: <span class="garageState {{state}}">{{ state }} </span></h2>

<h2> Open/Close: <a href="#" onclick="javascript:toggleDoor();">{{ action }}</a>
</h2>

<h2> History </h2>
<table>
	<tr>
		<th>Time</th>
		<th>Operation</th>
		<th>Result</th>
		<th>Detail</th>
	</tr>
	{% for record in history %}
	<tr>
			<td>{{record.op_date}}</th>
			<td><div class="garageState {{record.op_type}}">{{record.op_type}}</div></th>
			<td>{{record.op_succeed}}</th>
			<th>{{record.error_message}}</th>
	</tr>
	{% endfor %}
</table>
</td><td>
	<a href="#" onclick="showDoor();">Door Snapchat</a>
	<div id="doorImageDiv">
		<img id="doorImage" width="640" height="360" src="" />
	</div>
			</td></tr>
</table>

{% endblock %}
