{% extends 'base.html' %}

{% block javascript %}
<script>
var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
function addNoteToTable(divId, note, addToTop) {
	var idPrefix = note.finished ? 'history': 'note';
	var div='<div class="well" id="'+idPrefix + note.id+'">'
		+ '<pre id="noteContent'+note.id+'">'+note.content+'</pre>&nbsp;&nbsp;'
	if (!note.finished) {
		div += '<a href="#" onclick="return removeNote(\'#note\', \''+note.id+'\');">Remove</a>&nbsp;&nbsp;';
		div += '<a href="#" onclick="editNote(\''+note.id+'\');">Edit</a>&nbsp;&nbsp;';
		div += '<a href="#" onclick="return finishNote(\''+note.id+'\');">Finish</a>';
	} else {
		div += '<a href="#" onclick="return removeNote(\'#history\', \''+note.id+'\');">Remove</a>&nbsp;&nbsp;';
		div += '<a href="#" onclick="return resetNote(\''+note.id+'\');">Reset</a>';
	}
	div += '</div>';
	if (addToTop) {
		$(divId).prepend(div);
	} else {
		$(divId).append(div);
	}
}
function removeNoteFromTable(divPrefix, noteId) {
	$(divPrefix+noteId).remove();
	return false;
}
function addNote() {
	$.ajax({
		url: 'api/add/',
		type: 'POST',
		headers: {
			'X-CSRFToken': csrftoken
		},
		data: {'content': $("#content").val()}
	}).done(function(data) {
		addNoteToTable('#noteList', data, true);
		$("#content").val('');
	});
}
function removeNote(divPrefix, noteId) {
	$.ajax({
		url: 'api/remove/',
		type: 'POST',
		headers: {
			'X-CSRFToken': csrftoken
		},
		data: {'id': noteId},
	}).done(function(data) {
		removeNoteFromTable(divPrefix, noteId);
	});
	return false;
}

function finishNote(noteId) {
	$.ajax({
		url: 'api/finish/',
		type: 'POST',
		headers: {
			'X-CSRFToken': csrftoken
		},
		data: {'id': noteId},
	}).done(function(data) {
		removeNoteFromTable('#note', noteId);
		addNoteToTable('#historyList', data, true);
	});
	return false;
}
function resetNote(noteId) {
	$.ajax({
		url: 'api/reset/',
		type: 'POST',
		headers: {
			'X-CSRFToken': csrftoken
		},
		data: {'id': noteId},
	}).done(function(data) {
		removeNoteFromTable('#history', noteId);
		addNoteToTable('#noteList', data, true);
	});
	return false;
}
function editNote(noteId) {
	var content = $("#noteContent"+noteId).text();
	$.ajax({
		url: 'api/remove/',
		type: 'POST',
		headers: {
			'X-CSRFToken': csrftoken
		},
		data: {'id': noteId},
	}).done(function(data) {
		removeNoteFromTable('#note', noteId);
		$("#content").val(content);
	});
}
function loadNotesToDiv(url, divId) {
	$.ajax({
		url: url,
		type: 'GET',
		headers: {
			'X-CSRFToken': csrftoken
		}
	}).done(function(data) {
		$.each(data, function(id, note) {
			addNoteToTable(divId, note, false);
		});
	});

}
$(document).ready(function(){
	$("#saveNote").click(function(){
		addNote();
	});
	loadNotesToDiv('api/list', '#noteList');
	loadNotesToDiv('api/history', '#historyList');
});
</script>
{% endblock %}

{% block content %}
<span>
	<textarea id="content" style="width: 600px; height: 80px;"></textarea>
	<input type="button" value="Add Note" style="height: 80px;" id="saveNote"/>
</span>

<div id="noteList">
</div>
<h2> Finished </h2>
<div id="historyList">
</div>
{% endblock %}

